.schedule {
    row-gap: 1rem;
    margin: 1rem;
    display: grid;
}

.scheduleTable{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    
    th {
        text-align: center;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    
    td {
        cursor: pointer;
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    
    th {
        color: var(--light-color);
        font-weight: bold;
        border-bottom: 2px solid #555;
    }
    
    tr:hover {
        background-color: #f5f5f5;
    }
}