header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.header a {
    text-decoration: none;
}
.navlink{
    display: flex;
    align-items: center;
}
.navactive {
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--dark-color);
    color: var(--light-color);
}
.header .navlink:nth-child(n+2),
.header .navactive:nth-child(n+2){
    border: 1px solid #2ecc71;
    border-radius: 24px;
    padding: 8px;
}
.header .navlink:nth-child(n+2):hover,
.header .navactive:nth-child(n+2):hover{
    background-color: var(--dark-color);
    color: var(--light-color);
}